# Xcode
build/
DerivedData/
*.xcarchive
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Secrets
TouchNothing/Resources/SupabaseSecrets.plist
